<!doctype html>
<html>
	<head>

		<!-- Include the Bootstrap library -->
		<link href="/notepad/libs/bootstrap.min.css" rel="stylesheet" />
		<script src="/notepad/libs/jquery.min.js"></script>
		<script src="/notepad/libs/bootstrap.min.js"></script>
		<link href="/notepad/dialog/style.css" rel="stylesheet" />
		
		<!-- Include the AngularJS library -->
		<script src="/notepad/libs/angular.min.js"></script>
	</head>
	<body ng-app="myapp">

		<div ng-controller="MainCtrl">
			Name:
			<input ng-model="mainModel.name">
		</div>
		<div ng-controller="OtherCtrl">
			Name:
			<input ng-model="otherModel.name">
		</div>
		
		<script src="test.js"></script>
	</body>
</html>
