<div class="searchBox" style="background-color: gray; width:100%; height: 100%">
	<div>
		<!-- find -->
		<button type="button" class="btn btn-info btn-xs" data-toggle="collapse">regex: on</button>
		<button type="button" class="btn btn-info btn-xs" data-toggle="collapse">case-sensitive: on</button>
		<label>Find: </label>
		<input ng-change="searchPanelObject.searchText()" ng-model="searchPanelObject.searchString" />
		<button type="button" ng-click="searchPanelObject.searchText()" class="btn btn-success btn-xs">Find</button>
		<button type="button" class="btn btn-success btn-xs">Find All</button>
	</div>
	
	<div>
		<label>Replace with: </label>
		<input ng-change="searchPanelObject.searchText()" ng-model="searchPanelObject.replaceString" />
		<button ng-click="searchPanelObject.replaceAllOperation()" type="button" class="btn btn-warning btn-xs">Replace All</button>
	</div>
	
	<div align="right">
		<button ng-click="searchPanelObject.resetOperation()" type="button" class="btn btn-primary">Reset</button>
		<button ng-click="searchPanelObject.applyChangesOperation()" type="button" class="btn btn-primary">Apply changes</button>
		<!-- Let's not do this at this time
		<button type="button" class="btn btn-primary">Apply to all files in workspace</button>
		-->
		<button type="button" class="btn btn-primary" ng-click="searchPanelObject.closeOperation()">Close</button>
	</div>
	<br/>
	<div id="divSearchPanelData" style="color:white; border-color: white; border-style: solid; width:100%; height: 80%; overflow: scroll;">
		{{searchPanelObject.data}}
	</div>
	
</div>

<style>
	.whitebg {
		background-color: green;
		box-shadow: 0px 0px 10px #000;
	}
</style>