<dialog-box title="Your current changes will be lost!">
	<div class="panel-body left-aligned">
		Are you sure you want to discard current changes?
	</div>
	<div class="margined">
		<button type="button" class="btn btn-success" ng-click="confirmDialog.hideConfirmDialog()"> Go back</button>
		<button type="button" class="btn btn-danger" ng-click="confirmDialog.executeConfirmDialogOperation()"> Discard and continue</button>
	</div>
</dialog-box>