<div class="internal-container">
	<div class="dialogBackground"></div>

	<div class="dialogBody">
		<div class="dialogBox">
			<div class="panel panel-success">
				<div class="panel-heading">
					{{title}}
				</div>
				<div class="panel-body left-aligned" ng-transclude></div>

			</div>
		</div>
	</div>
</div>