<dialog-box title="Jump to local revision - {{filename}} filename here">
	<div class="row">
		<div class="col-sm-4" style="height:50%; overflow: scroll;">
			<div ng-repeat="key in revisionKeys" class="list-group">
				<a href="#" ng-click="selectRevision(key)" ng-class="{'active':$index == 0}" class="list-group-item">{{key}}</a>
			</div>
		</div>
		<div class="col-sm-8">
			<textarea class="form-control" style="height:50%">{{revisionData}}</textarea>
		</div>

	</div>
	</div>
	<div class="margined">
		<button ng-click="hideLocalHistory()" type="button" class="btn btn-info"> Cancel </button>
		<button type="button" ng-click="selectLocalRevision()" class="btn btn-success"> Select </button>
		<!--
		<img ng-show="isSaving" src="images/ajax-loader.gif"/> -->
	</div>
</dialog-box>
