<dialog-box title="Open workspace">

	<form name="myForm">
		<div class="panel-body left-aligned">
			<label>Workspace ID:</label>
			<input ng-model="openWorkspace.wid" class="form-control" type="name" name="openWorkspace.wid" ng-required="true"/>
		</div>
		<div class="margined">
			<button ng-click="dialog.isOpenWorkspaceDialogVisible = false" type="button" class="btn btn-info"> Go back </button>
			<button class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="openWorkspace();" type="button"> Open </button>
		</div>
	</form>

</dialog-box>