<dialog-box title="Open a file">
	<div class="panel-body left-aligned">
		<label >Open file from your computer</label>
		<input ng-model="local_file" onchange="angular.element(this).scope().setLocalFile(this)" type='file' id="fileInput" />
	</div>
	<div class="margined">
		<button ng-click="dialog.isOpenFileDialogVisible=false" type="button" class="btn btn-info"> Cancel </button>
		<button type="button" ng-click="loadLocalFile()" class="btn btn-success"> Open </button>
	</div>
</dialog-box>
