<dialog-box title="Rename file">

	<form name="myForm">
		<div class="panel-body left-aligned">
			<label>Name:</label>
			<input ng-model="renameFileDialogData.currentfilename" class="form-control" type="name" name="currentfilename" ng-required="true"/>
		</div>
		<div class="margined">
			<button ng-click="dialog.isRenameFileDialogVisible = false" type="button" class="btn btn-info"> Go back </button>
			<button class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="renameFile();" type="button"> Rename </button>
		</div>
	</form>
	
</dialog-box>
