<dialog-box title="Save workspace">

	<form name="myForm">
		<div class="panel-body left-aligned">
			<label>Email</label>
			<input ng-model="saveDialogData.email" class="form-control" type="email" name="saveDialogData.email" ng-required="true"/>
			<h6><small>Your files will be stored on cloud, and link will be shared on this email.</small></h6>
			<h5><a><small><kbd>Download files instead</kbd></small></a></h5>
		</div>
		<div class="margined">
			<button ng-click="dialog.isSaveDialogVisible = false" type="button" class="btn btn-info"> Cancel </button>
			<button class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="saveWorkspace();" type="button"> Save </button>
		</div>
	</form>

</dialog-box>