.internal-container {
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 102;
}
.dialogBackground {
	background-color: black;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.3;
}

.dialogBody {
	position: absolute;
	align: center;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

.dialogBox {
	display: inline-block;
	padding: 0px;
	margin-top: 20px;
}

.margined {
	padding: 20px;
}

.left-aligned {
	text-align: left;
}

.searchBox {
	width:100%;
	height: 100%;
	position: absolute;
	left: 0px;
	bottom:0px;
}
