<div>
	<div class="alert alert-success fade in" ng-show="dialog.isSuccessAlertVisible">
		<a href="#" class="close" ng-click="dialog.isSuccessAlertVisible = false" aria-label="close">&times;</a>
		<strong>Success!</strong> Your changes have been saved successfully.
	</div>
	<ul class="nav nav-tabs">
		<li ng-class="{'active':activetab == $index}" ng-click="tabChanged($index)" ng-repeat="file in state.files"><a data-toggle="tab" href="#file{{$index+1}}">{{file.file_name}}</a></li>
		<li ng-click="addFileToWorkspace()"><a href="#add"> + </a></li>
	</ul>

	<div class="tab-content">
		<div id="file{{$index + 1}}" class="tab-pane fade" ng-class="{'in active':activetab == $index}" ng-repeat="file in state.files">
			<textarea ng-change="stateChanged()" ng-model="file.data" class="form-control" rows=20 placeholder="type here.." style="box-shadow:0px 0px 0px; border-top:none; box-radius:0px" >{{file.data}}</textarea>
		</div>
	</div>
	<local-history-dialog ng-show="dialog.isLocalHistoryDialogVisible"></local-history-dialog>
	<open-file-dialog ng-show="dialog.isOpenFileDialogVisible"></open-file-dialog>
	<save-dialog-box ng-show="dialog.isSaveDialogVisible"></save-dialog-box>
	<confirm-dialog-box ng-show="dialog.isConfirmDialogVisible"></confirm-dialog-box>
	<open-workspace-dialog ng-show="dialog.isOpenWorkspaceDialogVisible"></open-workspace-dialog>
	<rename-file-dialog ng-show="dialog.isRenameFileDialogVisible"></rename-file-dialog>

	<search-panel ng-show="searchPanelObject.isSearchPanelVisible"></search-panel>
</div>