<div align="left" ng-controller="HeaderController" style="z-index:101">
	<h3>Online notepad - notepad.sanjav.net <small><kbd>alpha</kbd></small></h3>

	<nav class="navbar navbar-inverse">
		<div>
			<ul class="nav navbar-nav">
				<!-- File menu -->
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Workspace <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a ng-click="newWorkspaceOperation()">New workspace</a></li>
					<li><a ng-click="openWorkspaceOperation()">Open workspace</a></li>
				</ul></li>

				<!-- Edit menu -->
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Edit <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#">Undo</a></li>
					<li><a href="#">Redo</a></li>
					<li><a href="#">Show local history</a></li>
				</ul></li>

				<!-- Preferences menu -->
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Preferences <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a ng-click="toggleAutoSync()">{{ isAutoSyncEnabled == true?"Disable" : "Enable" }} auto-sync</a></li>
				</ul></li>

				<!-- Help menu -->
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Help <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#">Report a bug</a></li>
					<li><a href="#">Contact developer</a></li>
				</ul></li>

			</ul>
		</div>
	</nav>
	<!-- file button bar -->
	<div class="btn-group">
		<button type="button" ng-click="openOperation()" class="btn btn-primary"> Open file.. </button>
		<button type="button" ng-click="renameFileOperation()" class="btn btn-primary"> Rename file.. </button>
	</div>
	
	<!-- workspace button bar -->
	<div class="btn-group">
		<button type="button" ng-click="saveWorkspace()" class="{{ saveButtonClass }}"> Save workspace </button>
	</div>
	<!-- button bar - NOT NOW
	<div class="btn-group">
		<button type="button" ng-click="cutOperation()" class="btn btn-primary"> Cut </button>
		<button type="button" class="btn btn-primary"> Copy </button>
		<button type="button" class="btn btn-primary"> Paste </button>
	</div>
	-->
	
	<div class="btn-group">
		<button type="button" ng-click="undoOperation()" class="btn btn-primary"> Undo </button>
		<button type="button" ng-click="redoOperation()" class="btn btn-primary"> Redo </button>
		<button type="button" ng-click="showLocalHistory()" class="btn btn-primary" style="outline: none;"> Local history </button>
	</div>
	
	<!-- search bar -->
	<div class="btn-group">
		<button type="button" ng-click="searchInFileOperation()" class="btn btn-primary"> Search & Replace.. </button>
	</div>
</div>